Makefile
Makefile.in
*.o
/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/configure~
/depcomp
/dpkg-deb/
/install-sh
/missing
/src/.deps/
/src/resources.c
/src/wilqpaint
/stamp-h1
/wilqpaint-*.tar.gz
.*.swp
